<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ExerciseForms2.Properties.Settings.ProdiTIConnectionString"
            connectionString="Data Source=getto⛧\RAYNANDA_AQIYAS;Initial Catalog=ProdiTI;Persist Security Info=True;User ID=sa;Password=Zidanlagoa13"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>